*{
    font-family: "Poppins", sans-serif;
}
.carrito {
color: white;
  background-color: #9d0376;
  min-height: 3rem;
  max-height: 3rem;
}
.carrito-container {
  overflow: hidden; 
}
.carrito-lista {
    max-height: 300px; 
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #fe892c
    ;
}
img{

    max-height: 30rem;
}
.img-cart{
    cursor: pointer;
    max-width: 30px;
}
.section1 {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("/img/pexels-lastly-699122.jpg");
    z-index: 0;
    position: relative;
}
.containerTittle{
    height: 100vh;
    width: 100%;
    backdrop-filter: brightness(60%);

}
.containerTittle p{
    text-align: center;
}
.eliminar{
    background-color: rgb(223, 43, 43) !important;
}
.btn{
    background-color: #9d0376;
    border: none;
    padding: 1rem 2rem;
}
.btn:hover{
    background-color: #b6088a;
}
.card{
    width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card img{
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
}
.logo{
    width: 50px;
    height: auto;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 2rem;
}

.nombreProducto{
    width: 30%;
}
.carrito-lista ul li img{
    width: 50px;
}